<h1>CALCULATOR!!!</h1>
<form action = "/calculate" method = "POST">
  <input type="number" name = "first_num" placeholder = "Number One" value = "<%= @num %>">
  <input type= "number" name = "second_num" placeholder = "Number Two">
  <button type = "submit" name = "operation" value = "ADD">Add</button>
  <button type = "submit" name = "operation" value = "SUB">Subtract</button>
  <button type = "submit" name = "operation" value = "DIV">Divide</button>
  <button type = "submit" name = "operation" value = "MUL">Multiply</button>
</form>
