<h1>Hello User!</h1>

<form action="/user/new" method="POST">
  <input type="Text" name="user_name">
  <input type="Email" name="email_name">

  <button type="submit">Submit New User</button>
</form>
