<form action="/calculate" method="POST">
  <input type="text" name="first_number">
  <input type="text" name="second_number">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="sumbit">Add</button>
</form>
